name: Build, Test and Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: 'npm'  # Caching for faster installs
    
    - name: Install dependencies
      run: |
        if [ -f package-lock.json ] || [ -f npm-shrinkwrap.json ]; then
          npm ci
        else
          echo "Using npm install as no lock file exists"
          npm install
        fi
    
    - name: Build
      run: npm run build
    
    - name: Test
      run: npm test
    
    - name: Build Docker image
      run: docker build -t crealik-app .
    
    - name: Login to Docker Hub
      if: github.ref == 'refs/heads/main'
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}
    
    - name: Push to Docker Hub
      if: github.ref == 'refs/heads/main'
      run: |
        docker tag crealik-app ${{ secrets.DOCKER_HUB_USERNAME }}/crealik-app:latest
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/crealik-app:latest
